<% provide :title, t(".title") %>
<% provide :button_text, t("create_new_book") %>
<h1 class="h3 mb-2 text-gray-800">
  <%= t ".add_new_book" %>
</h1>

<div class="card shadow mb-4">
  <div class="card-body">
    <%= render "form" %>
  </div>
</div>
