<main class="p-container">
  <div class="p-left-column">
      <%= image_tag "p1.png" %>
  </div>
  <div class="p-right-column">
    <div class="p-product-description">
      <span>Category example</span>
      <h1>Product's name example</h1>
      <p>Description example
      </p>
    </div>
    <div class="p-product-configuration">
      <div class="p-cable-config">
        <span>Options</span>
        <div class="p-cable-choose">
          <button>Option 1</button>
          <button>Option 2</button>
          <button>Option 3</button>
        </div>
        <a href="#">Author example</a>
      </div>
    </div>
    <div class="p-product-price">
      <span>148$</span>
      <a href="#" class="p-cart-btn"><%= t ".add_to_cart" %></a>
    </div>
  </div>
</main>
