<div class="col-sm-6 col-lg-4">
  <div class="box">
    <div class="img-box">
      <%= image_tag "p1.png" %>
      <a href="" class="add_cart_btn">
        <span>
          <%= t ".add_to_cart" %>
        </span>
      </a>
    </div>
    <div class="detail-box">
      <h5> <%= book.name %> </h5>
      <div class="product_info">
        <h5>
          <%= number_to_currency(prices[book_iteration.index]) %>
        </h5>
      </div>
    </div>
  </div>
</div>
