HOST: "localhost:3000"
HOST_EMAIL: "smtp.mailtrap.io"
MAIL_USER_NAME: "*************"
MAIL_USER_PASSWORD: "********"
MAIL_ADDRESS: "smtp.mailtrap.io"
MAIL_DOMAIN: "smtp.mailtrap.io"
MAIL_PORT: "2525"
GOOGLE_OAUTH_CLIENT_ID: "551438893874-m"
GOOGLE_OAUTH_CLIENT_SECRET: "GOCSPX-TP7TSbBnec"
